---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects | coolLabs">
  <h1 class="text-3xl font-bold tracking-tight text-white md:text-6xl px-4">
    Projects<span class="text-pink-500">.</span>
  </h1>
  <h2 class="text-base pb-10 pt-2 text-neutral-400 px-4">
    Free and open-source projects. <svg
      class="w-6 h-6 inline-block"
      viewBox="0 0 36 36"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill="#A020F0"
        d="M2.067 11.319C2.067 2.521 14.251-.74 18 9.445C21.749-.741 33.933 2.52 33.933 11.319C33.933 20.879 18 33 18 33S2.067 20.879 2.067 11.319z"
      ></path>
    </svg>
  </h2>
  <div class="pb-2 flex flex-col gap-8 px-4 text-white text-left">
    <a
      href="https://coolify.io?ref=coollabs"
      class="flex flex-col gap-2 hover:bg-white/10 hover:scale-105 p-4 transition-all duration-300 cursor-pointer border-l-2 border-warning"
    >
      <h3 class="md:text-5xl text-3xl font-bold">Coolify</h3>
      <h4 class="md:text-xl text-sm">
        Self-hosting with superpowers. An open-source & self-hostable Heroku /
        Netlify / Vercel alternative.
      </h4>
      <div class="text-xs">
        <span class="text-pink-500">{(1410).toLocaleString()}+</span> users in the
        cloud, and <span class="text-pink-500">hundreds of thousands</span>
        of self-hosted instances.
      </div>
    </a>
    <a
      href="https://fonts.coollabs.io?ref=coollabs"
      class="flex flex-col gap-2 hover:bg-white/10 hover:scale-105 p-4 transition-all duration-300 cursor-pointer border-l-2 border-blue-500"
    >
      <h3 class="md:text-5xl text-3xl font-bold">Fonts</h3>
      <h4 class="md:text-xl text-sm">
        A privacy-friendly drop-in replacement for Google Fonts.
      </h4>
      <div class="text-xs">
        <span class="text-pink-500">{(7).toLocaleString()}+</span> million requests
        per month.
      </div>
    </a>
    <a
      href="https://jata.app?ref=coollabs"
      class="flex flex-col gap-2 hover:bg-white/10 hover:scale-105 p-4 transition-all duration-300 cursor-pointer border-l-2 border-pink-500"
    >
      <h3 class="md:text-5xl text-3xl font-bold">Jata</h3>
      <h4 class="md:text-xl text-sm">Just Another Todo App, nothing more.</h4>
      <div class="text-xs">
        It is <span class="text-pink-500">just</span> a todo app.
      </div>
    </a>
  </div>
</Layout>
